.definition-dropdown {
	background-color: var(--background-secondary);
	border: 1px solid var(--background-modifier-border-hover);
	border-radius: var(--radius-m);
	position: absolute;
	padding: var(--size-4-2);
	box-shadow: var(--shadow-s);
	min-height: 150px;
	min-width: 200px;
}
